include includes/head
body
	
	-var subtitle = 'My Pins'
	include includes/nav
	.container.is-clearfix
		.grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200, "gutter": 10, "fitWidth": true }')
			each pin in myPins
				.grid-item
					.card
						.card-image
							figure.image
								img(src=pin.url)
						.card-content
							.media
								.media-content
									p.subtitle= pin.description
								if user.twitter.id == pin.ownerId
									-var deleteLink = 'delete/' + pin._id
									.media-right
										a(href=deleteLink)
											i.fa.fa-times(title='Delete Pin')
							.content.has-text-right
								small= 'by '
									a(href='#')= pin.ownerDisplayName
script(src='../js/scripts.js')